{{#partial "content"}}
    <div class="container">
        <h5>name~ {{endangered.name}}</h5>
        {{#if endangered.sightings}}
            {{#each endangered.sightings}}
                <hr>
                <p>Location Sighted: {{location}}</p>
                <p>Ranger Name: {{ranger}}</p>
                <p>Health: {{endangered.health}}</p>
                <p>Age:{{endangered.age}}</p>
            {{/each}}
        {{/if}}
    </div>
{{/partial}}

{{> layout.hbs}}


